In [1]:
# Importing necessary libraries
from pycaret.datasets import get_data
from pycaret.classification import *

In [2]:
# Loading dataset
data = get_data('iris')

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
# Setting up PyCaret classification
clf = setup(data, target='species')

In [5]:
# Train a model
model = create_model('rf')  # Using Random Forest model as an example

In [6]:
# Evaluate model
evaluate_model(model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [7]:
# Make predictions
predictions = predict_model(model)
print(predictions.head())

     sepal_length  sepal_width  petal_length  petal_width          species  \
110           6.5          3.2           5.1          2.0   Iris-virginica
7             5.0          3.4           1.5          0.2      Iris-setosa
59            5.2          2.7           3.9          1.4  Iris-versicolor
41            4.5          2.3           1.3          0.3      Iris-setosa
44            5.1          3.8           1.9          0.4      Iris-setosa

    prediction_label  prediction_score
110   Iris-virginica              0.99
7        Iris-setosa              1.00
59   Iris-versicolor              0.99
41       Iris-setosa              0.95
44       Iris-setosa              1.00