In [1]:
# Import necessary libraries
from pycaret.datasets import get_data
from pycaret.classification import *
import pandas as pd

In [2]:
# Load Titanic dataset
data = get_data('titanic')

# Show the first few rows of the dataset
print(data.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [8]:
categorical_columns = data.select_dtypes(include=['object', 'category']).columns
print("Categorical columns:", categorical_columns)

Categorical columns: Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [9]:
# Set up the environment in PyCaret
clf = setup(data, target='Survived', session_id=123, 
            normalize=True,  # Normalizes numeric features
            categorical_features=['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'],
            remove_outliers=True,
            ignore_features=['name', 'cabin', 'ticket'])

In [10]:
# Compare all models and select the best one
best_model = compare_models()

# Print the best model
print(best_model)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=-1, n_neighbors=5, p=2,
                     weights='uniform')

In [11]:
# Tune the hyperparameters of the best model
tuned_model = tune_model(best_model)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [12]:
# Print the tuned model
print(tuned_model)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='manhattan',
                     metric_params=None, n_jobs=-1, n_neighbors=16, p=2,
                     weights='uniform')

In [13]:
# Evaluate the tuned model using various plots (Precision-Recall, AUC, etc.)
evaluate_model(tuned_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [14]:
# Ensemble the tuned model using stacking
stacked_model = stack_models([best_model, tuned_model])

In [15]:
# Predict on unseen data (test set)
predictions = predict_model(stacked_model)

# Show the predictions
print(predictions.head())

     PassengerId  Pclass                               Name     Sex   Age  \
178          179       2                 Hale, Mr. Reginald    male  30.0
457          458       1  Kenyon, Mrs. Frederick R (Marion)  female   NaN
16            17       3               Rice, Master. Eugene    male   2.0
95            96       3        Shorney, Mr. Charles Joseph    male   NaN
120          121       2        Hickman, Mr. Stanley George    male  21.0

     SibSp  Parch        Ticket       Fare Cabin Embarked  Survived  \
178      0      0        250653  13.000000   NaN        S         0
457      1      0         17464  51.862499   D21        S         1
16       4      1        382652  29.125000   NaN        Q         0
95       0      0        374910   8.050000   NaN        S         0
120      2      0  S.O.C. 14879  73.500000   NaN        S         0

     prediction_label  prediction_score
178                 0            0.9869
457                 1            0.8951
16                  0            0.9869
95                  0            0.9869
120                 0            0.9869